@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300;1,400&family=Ubuntu:wght@500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: orange;
  cursor: pointer;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#sectionTablo {
  height: 100vh;
  background-image: url(../img/imeg0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  position: relative;
}

.logo {
  margin-left: 100px;
  margin-top: 37px;
}

.headerTerminal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logoimg {
  height: 100px;
  width: 100px;
}

.navBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.navBarbtn {
  margin-right: 35px;
}

.tab {
  margin-top: 40px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tableFlight {
  width: 500px;
  height: 300px;
}

.headertable {
  text-transform: uppercase;
  padding: 10px 10px;
  font-weight: 500;
  color: #242249;
  font-size: 12px;
}

.flightTommorow {
  font-size: small;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  color: whitesmoke;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  border-radius: 10px;
  opacity: 0.5;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  border-radius: 10px;
}

.tabs-navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  background-color: aliceblue;
  opacity: 0.9;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.flightStatus {
  height: 50px;
}

.containerTrevel {
  height: 520px;
  width: 450px;
}

.imgContent, .infoTreve {
  height: 250px;
  width: 250px;
}

.infoTrevel {
  margin-top: 1rem;
  width: 250px;
  height: 250px;
  background-color: transparent;
}

.hedline {
  margin: 2em;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.banner svg path {
  fill: #fff;
}

.FactsOfAirPort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.containerfacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sectionfacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infoProgress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "Skyfont", sans-serif;
  text-shadow: 4px 4px 4px #aaa;
  font-size: 2rem;
}

.imgprogresa {
  height: 200px;
  width: 200px;
  border-radius: 150px;
}
.imgprogresa:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  overflow: hidden;
}

.mt5 {
  margin-top: 15px;
}

.Store-Shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
}
.Store-Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Store-Title::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
}
.Store-ShopImg {
  margin-top: 30px;
  border-radius: 20px;
  width: 500px;
  margin-left: 30px;
}
.Store-ShopUpper {
  font-family: "Montserrat", sans-serif;
}
.Store-ShopUpperline {
  background-color: black;
  width: 50px;
  height: 1px;
}
.Store-Shoplower {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  color: black;
}
.Store-ul {
  margin-top: 10px;
}
.Store-li {
  margin-top: 10px;
}

.sectionInfo-GeneralVip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.sectionInfo-UpperText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sectionInfo-UpperText::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
}
.sectionInfo-LowwerText {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  color: black;
}
.sectionInfo-LowwerText_P {
  margin-left: 10px;
}
.sectionInfo-ofService {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sectionInfo-ofServiceli {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.sectionInfo-ofServicetitle {
  margin-left: 20px;
}
.sectionInfo-Price {
  width: 90%;
  height: 30px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 20px;
}
.sectionInfo-PriceVIP {
  border: 1px solid #e3e3e3;
}
.sectionInfo-PriceVIPname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  border-bottom: 1px solid #e3e3e3;
}
.sectionInfo-PriceVIPnameTextSize {
  margin: 10px;
}
.sectionInfo-PriceVIPnameText {
  width: 280px;
  margin: 10px;
  color: #767676;
}
.sectionInfo-nameTerminal {
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
}
.sectionInfo-nameFly {
  width: 160px;
  font-size: 13px;
  margin-bottom: 5px;
}
.sectionInfo-VipInfo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sectionInfo-RulsInfo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #e3e3e3;
}
.sectionInfo-PriceInfo {
  font-size: 0.7rem;
}
.sectionInfo-btnVip {
  margin-bottom: 10px;
}
.sectionInfo-Img {
  width: 500px;
  height: 300px;
  margin-top: 10%;
  margin-left: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.sectionInfo-HangarImg {
  width: 600px;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}
.sectionInfo-HangarImg:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  filter: none;
  -webkit-filter: none;
}
.sectionInfo-HangarText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
}
.sectionInfo-HangarTextLower {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  color: black;
  margin-left: 15px;
  margin-top: 30px;
}
.sectionInfo-ExcursionsUppertext {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
.sectionInfo-ExcursionsUppertext::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
}
.sectionInfo-ExcursionsLovertext {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.sectionInfo-ExcursionsImg {
  width: 500px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  border-radius: 15px;
}
.sectionInfo-ExcursionsImg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  overflow: hidden;
  filter: none;
  -webkit-filter: none;
}
.sectionInfo-TechnicalSupportImg {
  width: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}
.sectionInfo-TechnicalSupportImg:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-filter: none;
          filter: none;
  overflow: hidden;
}
.sectionInfo-TechnicalSupport {
  margin-top: 30px;
}
.sectionInfo-TechnicalSupportUppertext {
  font-family: "Montserrat", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sectionInfo-TechnicalSupportUppertext::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
}
.sectionInfo-TechnicalLovertext {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 400;
}

.RulsInfoBorder {
  border: none;
}

.btnBuyVip {
  width: 150px;
  height: 50px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid orange;
  font-size: 20px;
  background-color: white;
}
.btnBuyVip:hover {
  -webkit-box-shadow: 2.5px 2.5px 0 2.5px white, -2.5px -2.5px 0 2.5px white, 0 0 0 2px white inset, 10px 10px 0 10px orange, -10px -10px 0 10px orange;
          box-shadow: 2.5px 2.5px 0 2.5px white, -2.5px -2.5px 0 2.5px white, 0 0 0 2px white inset, 10px 10px 0 10px orange, -10px -10px 0 10px orange;
  transition: 0.75s;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -ms-transition: 0.75s;
  -o-transition: 0.75s;
}

.B2b-General {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.B2b-navigation {
  margin-top: 200px;
  margin-left: 40px;
}
.B2b-social {
  width: 40px;
  height: 40px;
  fill: white;
}
.B2b-section {
  margin-bottom: 20px;
}
.B2b-social-Icon {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.B2b-sectionSecond1, .B2b-sectionSecond2, .B2b-sectionSecond3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-style: italic;
  background-color: black;
  opacity: 0.8;
}

.B2b-sectionFerst1, .B2b-sectionFerst2, .B2b-sectionFerst3, .B2b-sectionFerst4, .B2b-sectionFerst5 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 500;
}

.B2b-General {
  background: url(../img/B2B/joel-jasmin-forestbird-N7WKDfi0yqQ-unsplash.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position-y: center;
}

@media (max-width: 1920px) {
  #section1 {
    width: 1920px;
  }

  .container {
    max-width: 1920px;
  }

  .Store-ShopImg {
    width: 600px;
  }
}/*# sourceMappingURL=style.css.map */